@model List<BertoniSolutions.Models.PhotoViewModel>

<table>
    @foreach (var photo in Model)
    {

        <tr>
            <td>@photo.Id</td>
            <td>@photo.AlbumId</td>
            <td>@photo.ThumbnailUrl</td>
            <td>@photo.Title</td>
            <td>@photo.Url</td>
            <td><button type="button" class="btn btn-info" id="visualizarComanterio" onclick="ver(@photo.AlbumId);" idVer="0">Ver Comentarios</button></td>
        </tr>

    }

</table>

<div id="comentarios"></div>